*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: rgb(0,4,4);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    /* background: radial-gradient(circle, rgba(0,4,4,1) 0%, rgba(0,71,81,1) 90%); */
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    /* border: 2px solid blue; */
    animation: fadein 1s ease-in 4s forwards;
    overflow: hidden;
}

#top {
    /* border: 2px solid red; */
    height: 40%;
    display: flex;
    align-items: center;
}

#screen {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    /* border: 2px solid white; */
    background: linear-gradient(rgba(9, 142, 142, 0.43), rgba(5, 81, 81, 0.498));
    /* horizontal linear gradient */
    border-radius: 5vh;
}

#logo2 {
    /* top: 3vh; */
    width: 90%;
}

#bottom {
    /* border: 2px solid red; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: "Roboto", sans-serif;
    font-weight: 700;
}

.dummy {
    width: 30%;
    /* border: 2px solid white; */
}

.coming-soon-container {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}

#coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Minecraft;
    font-size: 8vh;
    color: #0fd0d0;
    background-color: rgba(0, 0, 0, 0.6);
    height: fit-content;
    padding: 2.5vh 3.5vh;
    /* line-height: min-content; */
    margin: 2vmin;
    border-radius: 4vh;
    border: 1vh solid #0d91918b;
}

#dummy2 {
    width: 12%;
    /* border: 2px solid white; */
}

#socials {
    width: 18%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* z-index: 3; */
    /* border: 2px solid white; */
}

a {
    z-index: 999;
}

#facebook {
    z-index: 999;
    width: 8vh;
    transition: transform 0.1s ease-in-out;
    border-radius: 1vh;
}

#linkedin {
    z-index: 999;
    width: 8vh;
    transition: transform 0.1s ease-in-out;
    /* background-color: azure; */
    /* border-radius: 1vh; */
}

#instagram {
    z-index: 999;
    width: 8vh;
    transition: transform 0.1s ease-in-out;
}

/* add hover zoomin effect */
#linkedin:hover, #facebook:hover, #instagram:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dud {
    color: #0b9f9f;
}

#robot-canvas {
    display: block;
    position: absolute;
    bottom: 40%;
    left: 15%;
    /* border: 2px solid red; */
    /* height: 50%;     */
    height: 150vh !important;
    width: 180vw !important;
    /* max-height: 118vh;
    max-width: 92vw; */
    padding: 0;
    transform: translate(-50%, 50%);
    z-index: 2 !important;
    overflow: hidden !important;
}

#robot {
    width: 40%;
    max-width: 4vw;
    /* border: 2px solid red; */
}

#matrix {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: -1; */
    /* border: 3px solid blue; */
    /* display: none; */
    animation: fadeout 1s ease-in 4s forwards;
}

#loadingLaptopDiv {
    height: 100vh;
    /* border: 2px solid red; */
    width: 100vw;
}

#laptop {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* border: 2px solid blue; */
    animation: fadeout 1s ease-in 4s forwards;
}

#laptopImg {
    width: 60vmin;
    padding: none;
    margin: none;
    /* border: 2px solid green; */
    animation: zoomin 2s ease-in-out 4s forwards;
    overflow: hidden;
}

#loading {
    display: none;
    position: absolute;
    /* The position needs to be modified according to the image of the laptop*/
    top: 8.3%;
    left: 11%;
    height: 77%;
    width: 78%;
    background-color: black;
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    animation: fadeout 0.5s ease-in 4s forwards;
    /* border: 5px solid red; */
    overflow: hidden;
}

#loadingImg {
    opacity: 0;
    width: 100%;
    height: 100%;
    /* For hosting */
    /* background-image: url("/prometeo-coming-soon-page/assets/loading3.gif"); */
    /* For local */
    background-image: url("/assets/loading3.gif");
    background-position: center;
    background-size: 25%;
    /* border: 2px solid white; */
    background-repeat: no-repeat;
    animation: fadein 0.5s ease-in 0.5s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#clock {
    /* i want it to appear after 3 seconds */
    animation: fadein 1s ease-in 3s forwards;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes zoomin {
    0% {
        height: 36vmin;
        width: 60vmin;
    }
    99% {
        height: 150vmax;
        width: 250vmax;
    }
    100% {
        display: none;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* background-color: black; */
    }
}

@font-face {
    font-family: minecraft;
    /* for hosting: */
    /* src: url("/prometeo-coming-soon-page/assets/Minecraft.ttf"); */
    /* for local: */
    src: url("/assets/Minecraft.ttf"); 
}

@media (orientation: portrait) {
    #main-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    #left {
        width: 100%;
        height: 30%;
    }
    #robot-canvas {
        visibility: hidden;
    }
    #right {
        height: 60%;
        width: 100%;
    }

    #right-top {
        margin-top: 0;
    }

    #logo{
        /* border: 2px solid white; */
        /* width: 50%; */
        /* max-width: 30vmin; */
        height: 120%;
    }
    #logo2{
        /* border: 2px solid red; */
        max-width: 80vw;
    }
    #coming-soon {
        font-size: 9vmin;
    }
}